@charset "UTF-8";

:root {
    --cor0: #286EDE;
    --cor1: #28A7DE;
    --cor2: #28DEDB;
    --cor3: #2834DE;
    --cor4: #5728DE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(img/fundo2-jpg.jpg);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
} 

.container {
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    margin: 14px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 2px solid rgb(255, 255, 255, 0.2);
    justify-content: center;
    align-items: center;
    
}

.header {
    text-align: center;
    color: #fff;
    margin: 10px;
}

.form {
    padding: 20px;
}

.form-control {
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 18px;
}

.form-control label {
    display: inline-block;
    margin-bottom: 6px;
    color: white;
}

.form-control input {
    display: block;
    width: 100%;
    padding: 8px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
}

.form-control small {
    position: absolute;
    bottom: -1px;
    left: 0;
    color: rgb(0, 0, 0);
    font-size: 12px;
    visibility: hidden;
    margin: 4px;
}

.form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: #2834DE;
    color: #fff;
    cursor: pointer;
}

.form button:hover {
    background-color: #5728DE;
}

.divider {
    border: 1px solid gray;
    width: 100%;
    margin: 20px 0 20px 0;
}

a {
    color:var(--cor1);
    text-decoration: none; 
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    
}

a:hover {
    color: white;
}

.form-control ::placeholder {
    color: rgba(255, 255, 255, 0.781);
}

.form-control.error input {
    border-color: red;
}

.form-control.error small {
    visibility: visible;
    color: red;
}
