@charset "UTF-8";

:root {
    --cor0: #286EDE;
    --cor1: #28A7DE;
    --cor2: #28DEDB;
    --cor3: #2834DE;
    --cor4: #5728DE;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.infos {
    position: relative;
    margin-top: 10px;
}

.fundo {
    background-color: var(--cor1);
    width: auto;
    height: 150px;

}

.formula {
    background-color: white;
    width: 500px;
    height: 600px;
    margin: auto;
    position: absolute;
    position-area: center;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
    margin-top: 70px;
    padding: 20px;
}

.idd {
    background:transparent;
    padding: 20px;
    display: inline-block;
   
}

select {
    margin: 5px;
    padding: 5px;
    width: 140px;
    height: 36px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    height: 36px;
    outline: none;
    border: 2px solid rgb(205, 205, 205);
    background: transparent;
    
}


label {
    color: blue;
    padding: 0 5px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 1em;
    pointer-events: none;
    transition: .3s; 
}

input {
    color: black;
    border: 2px solid rgb(205, 205, 205);
    background: transparent;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    padding: 0 1em;
    outline: none;
}

input:focus~label {
    top: 0;
    background-color: #ffffff;
    font-size: 0.7rem;
}