@charset "UTF-8";

:root {
    --cor0: #286EDE;
    --cor1: #28A7DE;
    --cor2: #28DEDB;
    --cor3: #2834DE;
    --cor4: #5728DE;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.fundo {
    background-color: var(--cor1);
    width: auto;
    height: 150px;

}

.formu {
    background-color: white;
    width: 400px;
    height: 500px;
    margin: auto;
    position: absolute;
    position-area: center;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
    margin-top: 70px;
    padding: 20px;
}

.fotos {
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 20px;
}

img {
    width: 100px;
    height: 100px;
}

.user {
    margin: 0 70px 0 70px;
    padding: 20px;
    text-decoration: none;
    position: relative;
}

.check {
    font-size: 10px;
    color: rgb(0, 0, 0);
    margin: 10px 0 0 0;
    vertical-align: auto;
}

button {
    background-color: var(--cor1);
    width: 228px;
    height: 36px;
    margin-top: 10px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.225);
}

a {
    color: rgb(0, 0, 0);
    font-size: 12px;
    text-decoration: none;
    float: inline-start;
    margin-top: 10px;
    padding: 0 0 0 3px;
}

.pas {
    display: inline-block;
    margin: 10px 10px 10px 26px
}

.infos {
    position: relative;
    margin-top: 10px;
    display: inline-block;
}

label {
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 0 5px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 1em;
    pointer-events: none;
    transition: .3s; 
}

.inp {
    width: 200px;
    height: 38px;
    text-decoration: none;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgba(128, 128, 128, 0.4);
    background: transparent;
    padding: 0 1em;
}

.inp:focus~label {
    top: 0;
    background-color: #ffffff;
    font-size: 0.7rem;
}

