@charset "UTF-8";

:root {
    --cor0: #286EDE;
    --cor1: #28A7DE;
    --cor2: #28DEDB;
    --cor3: #2834DE;
    --cor4: #5728DE;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(img/fundo2-jpg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.infos {
    position: relative;
    margin: 10px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
}



.formula {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 460px;
    padding: 40px;
    border-radius: 10px;
    text-align: center;

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    
    border: 2px solid rgb(255, 255, 255, 0.2);

}

.idd {
    background:transparent;
    padding: 10px;
    display: inline-block;
}

select {
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 36px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    height: 36px;
    outline: none;
    border: 2px solid rgb(205, 205, 205);
    background: transparent;
    
}

.formula button {
    background-color: white;
    width: 100%;
    height: 48px;
    margin-top: 10px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.225);
}


label {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 0 5px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 1em;
    pointer-events: none;
    transition: .3s; 
    border-radius: 5px;
}

input {
    width: 99%;
    height: 48px;
    text-decoration: none;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(255, 255, 255, 0.2);
    background: transparent;
    font-size: 14px;
    padding: 0 0 0 5px;
}

input:focus~label {
    top: 0;
    color: transparent;
    font-size: 0.7rem;
}